/* .our-services {
    border: 1px solid red;
} */

.our-services-grid {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 377px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.our-services-grid>li:nth-child(odd) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(28, 42, 51, 1);
    color: rgba(24, 207, 171, 1)
}

.our-services-grid>li:nth-child(even) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(24, 207, 171, 1);
    color: rgba(255, 255, 255, 1);
}

.chapter-text {
    font-family: Montserrat;
    color: rgba(78, 78, 78, 1);
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1px;
    padding-top: 90px;
}

.line {
    border: 1px solid rgba(24, 207, 171, 1);
    border-bottom-width: 0;
    width: 76px;
    margin-top: 4px;
}

.chapter-text::after {
    content: "";
    border-bottom: 1px solid rgba(24, 207, 171, 1);
    display: block;
    width: 76px;
    margin-left: 46%;
    margin-top: 26px;
}


.container {
    max-width: 1160px;
    margin: 70px auto 0px;
}

.service-menu-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.service-menu-item {
    font-family: Montserrat;
    color: rgba(113, 113, 113, 1);
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 72px;
    border: 1px solid rgba(93, 58, 219, 0.164);
}

.service-menu-item:hover {
    border: 1px solid rgba(24, 207, 171, 1);
}
.service-menu-item.active{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(24, 207, 171, 1);
    
}

.service-content-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    height: 139px;
    margin-top: 23px;
    /* border: 1px solid red; */
}

.service-image {
    height: 139px;
    width: 192px;
    display: none;
}

.photo {
    height: 100%;
    width: 100%;
}

.service-content-grid>p {
    grid-column-start: 2;
    grid-column-end: 7;
    font-family: Montserrat;
    color: rgba(113, 113, 113, 1);
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    display: none;
}

.service-image.unnone {
display: block;
}
.service-content-grid>p.unnone {
display: block;
}
