.creative {
    background: url("../images/Sectionsbackground/section-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1012px;
    min-width: 1200px;
    font-family: Montserrat;
}

.header {
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
}

.header-menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-item {
    padding: 0px 10px;
}

.menu-item {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.6);
}

.menu-item:hover {
    color: rgba(24, 207, 171, 1);
    text-decoration: underline;
    text-underline-offset: 53px;
    text-decoration-thickness: 2px;
}

.creative-text {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 264px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
}

.creative-text-top {
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 2px;
}

.mark-text {
    color: rgba(24, 207, 171, 1);
}

.creative-text-main {
    font-weight: 700;
    font-size: 78px;
}

.creative-text-bottom {
    font-weight: 300;
    font-size: 35px;
}

.creative-button {
    display: flex;
    justify-content: center;
    margin-top: 134px;
}

.left-button {
    background-color: rgba(24, 207, 171, 1);
    height: 63px;
    width: 168px;
    border: none;
    border-top: solid rgba(255, 255, 255, 1) 5px;
    border-radius: 4px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);  
    margin-right: 13px;
}

.right-button {
    background-color: rgba(0, 203, 246, 1);
    height: 63px;
    width: 168px;
    border: none;
    border-top: solid rgba(255, 255, 255, 1) 5px;
    border-radius: 4px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
    margin-left: 13px;
}
