.just-buy {
    background: url("../images/icons/BG.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 476px;
    margin-top: 91px;
    font-family: Montserrat;
}

.just-text-main {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: rgba(24, 207, 171, 1);
    padding-top: 126px;
}

.just-text-bottom {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: rgba(216, 216, 216, 1);
    margin-top: 12px;
}

.just-buy-button {
    background-color: rgba(24, 207, 171, 1);
    height: 63px;
    width: 168px;
    border: none;
    border-top: solid rgba(255, 255, 255, 1) 5px;
    border-radius: 4px;

    /* font-family: Montserrat; */
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
    margin-top: 62px;
    margin-left: calc((100% - 168px)/2);
   
}