.people-about {
    background: url("../images/Sectionsbackground/section-3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 853px;
    min-width: 1200px;
}

.chapter-text.white {
    color: rgba(255, 255, 255, 1);
}

.describe-person {
    margin: 66px auto 0px;
    width: 1160px;
    height: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: rgba(187, 187, 187, 1);

    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: rgba(216, 216, 216, 1);
    line-height: 30px;
}

.icon-person {
    height: auto;
    width: auto;
}

.name-person-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 230px;
    /* border: 1px solid red; */
}

.description-person {
    height: 32px;
    width: 269px;
    text-align: center;
    overflow: hidden;
    /* border: 1px solid red; */
}

.photo-person {
    height: 169px;
    width: 169px;
    overflow: hidden;
    /* border: 1px solid red; */
}



.name-person {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    color: rgba(24, 207, 171, 1);
}

.position-person {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 300;
    color: rgba(187, 187, 187, 1);
}

.main-photo-person {
    height: 145px;
    width: 145px;
    border-radius: 145px;
    border: 12px solid rgb(7, 122, 99);
}

.main-photo-person.hidden {
    display: none;
}

.person.hidden {
    display: none;
}

.carusel {
    height: 70px;
    width: 485px;
    margin: 66px auto 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-carusel {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 6px solid rgb(7, 122, 99);
}

.photo-carusel.top {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    /* border: 6px solid rgb(228, 8, 173); */
    position: relative;
    bottom: 15px;
}


.button-carusel {
    height: 31px;
    width: 31px;

    font-weight: 700;
    background-color: rgba(187, 187, 187, 0);
    color: rgba(187, 187, 187, 1);
    border: 1px solid rgba(187, 187, 187, 1);
}

.button-carusel:hover {
    background-color: rgba(24, 207, 171, 1);
    color: white;
}

footer {
    height: 121px;
    background-color: rgba(34, 53, 63, 1);
}

.footer {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 300;
    color: rgba(119, 119, 119, 1);
    text-align: center;
    padding-top: 50px;
}