.container-breaking-news {
    width: 1160px;
    height: 610px;
    margin: 70px auto 128px;
    /* border: 1px solid red; */
}

.breaking-news-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 35px;
    height: 100%;
    width: 100%;
}

.breaking-news-image {
    position: relative;
}

.breaking-photo {
    height: auto;
    width: 100%;
}

.data-info-news {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    /* border: 1px solid red; */
}

.data-info-news-name {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    color: rgba(113, 113, 113, 1);
}

.data-info-news-details {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 300;
    color: rgba(119, 119, 119, 1);
}

.data-date {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 68px;
    width: 70px;
    font-size: 16px;
    font-family: Montserrat;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    background-color: rgba(32, 62, 56, 1);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.breaking-news-image:hover .data-date {
    background-color: rgba(24, 207, 171, 1);
}

.breaking-news-image:hover .data-info-news-name {
    color: rgba(24, 207, 171, 1);
}