@import "styleCreativeSection.css";
@import "styleOurServices.css";
@import "styleJustBuy.css";
@import "styleAmazingWork.css";
@import "styleBreakingNews.css";
@import "stylePeopleAbout.css";


body {
    font-family: Montserrat;
    background-color: rgba(255, 255, 255, 1);
    min-width: 1200px;
}