.our-amazing-work {
    /* border: 1px solid red; */
    background-color: rgba(233, 237, 239, 1);
    padding-bottom: 100px;
}


.container-amazing-work {
    width: 582px;
    height: 58px;
    margin: 70px auto auto;
    /* border: 1px solid red; */
}

.amazing-menu-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.amazing-menu-item {
    font-family: Montserrat;
    color: rgba(113, 113, 113, 1);
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 58px;
    border: 1px solid rgba(93, 58, 219, 0.164);
}

.amazing-menu-item:hover {
    border: 1px solid rgba(24, 207, 171, 1);
}

.amazing-content-grid {
    max-width: 1160px;
    margin: 70px auto 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
    grid-auto-rows:215px ;
}


.amaging-photo {
    height: 100%;
    width: 100%;
}

.amaging-photo-hidden {
    display: none;
    height: 100%;
    width: 100%;
}

.amazing-image:hover .amaging-photo {
    display: none;
}

.amazing-image:hover .amaging-photo-hidden {
    display: block;
}



.amazing-button {
    background-color: rgba(24, 207, 171, 1);
    height: 63px;
    width: 168px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
    margin-top: 62px;
    margin-left: calc((100% - 168px)/2);

}
.amazing-button.hidden {
    display: none;
}

.amazing-image.hidden, .load.hidden {
    display: none;
}
